*{
    margin: 0%;
    padding: 0%;
}
.main{
    background: linear-gradient(rgba(55,57,69,0.8),rgba(55,57,69,0.8)) ,url(../images/desktop1.jpg)no-repeat center;
    background-size: 100%;
    padding: 15px;
    padding-bottom: 100px;
}
.navigation>header>nav>img{
    height: 60px;
    padding-left: 118px;
}

.navigation>header>nav>ul{
    list-style: none;
    float: right;
    padding-right: 125px;
    padding-top: 18px;
   
}
.navigation>header>nav>ul>li{
    display: inline-block;

}
.navigation>header>nav>ul>li>a{
    text-decoration: none;
    padding: 30px;
    color: white;
}
.navigation>header>nav>ul>li:last-child {
    background-color:white;
    color: black;
    height: 25px;
    border-radius: 5px;
    padding-top: 5px;
}
.navigation>header>nav>ul>li:last-child a{
    color: black;
   
}
.navigation>header>nav>ul>li:hover a{
    color: crimson;
}

.center>center>h6{
    margin-top: 130px;
    color: white;
    font-size: 17px;
}
.center>center>h1{
    margin-top: 13px;
    color: white;
    font-size: 40px;
}


.search{
     display: flex; 
     margin-left: 150px;
     margin-top: 30px;
}
.search>#a1{
    width: 300px;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0;
}
.search>#a{
    width: 300px;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0;
    border-radius: 10px 0px 0px 10px;
}
.search>#a2{
    background-color: aqua;
    width: 300px;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0;
    border-radius: 0px 10px 10px 0px;
}

.icon>.icon1{
    display: flex;
    margin-top: 45px;
    margin-left: 400px;
 
}
.fa-house, .fa-burger, .fa-cart-shopping, .fa-car, .fa-wordpress{
    position: relative;
    right: 80px;
    top: 20px;
    padding: 20px;
    background-color: white;
    color: burlywood;
    font-size: 25px;
    border-radius:  80px 80px 80px 80px;
    margin-right: 120px;  
}
 .fa-house:hover, .fa-burger:hover, .fa-cart-shopping:hover, .fa-car:hover, .fa-wordpress:hover{
    background-color: hotpink;
    color: black;
    transition: 0.2s ease-in-out;
  }
  .iconname{
    display: flex;
    margin-top: 35px;
    margin-left: 315px;
    color: white;
    font-size: 17px;
  }
  .iconname>:first-child{
    margin-right:  110px;
  }
  .iconname>:nth-child(2){
    margin-right: 105px;
  }
  .iconname>:nth-child(3){
    margin-right: 139px;
  }
  .iconname>:nth-child(4){
    margin-right: 139px;
  }
  
  /* second */
.second>center>h1{
    margin-top: 120px;
    font-size: 40px;
  }
  .second>center>h6{
    margin-top: 22px;
    color: teal;
    font-size: 20px;
    margin-left: 14px;
  }

.building{
    display: flex;
    width: 1200px;
    height: 509px;
    margin-left: 170px;
    margin-top: 50px;
    background-color: rgb(23,4,23);
}
.container{
    position: relative;
    padding-right: 88px;
    padding-bottom: 15px;
    top:  10px;
    display: flex;
    gap: 15px;
    margin-bottom: 1px;
    
}
.container2,.container3,.container4,.container5{
    background-color: rgb(147, 95, 46);
    position: relative;
    padding-right: 88px;
    top:  20px;
    display: flex;
    gap: 15px;
    margin-bottom: 1px;
    padding-bottom: 15px; 
}
.container:hover,.container2:hover,.container3:hover,.container4:hover,.container5:hover{
    background-color: lawngreen;
    font-style: italic;
    transition:  1s ease-in-out;
}
.fa-house-user,.fa-pizza-slice,.fa-bag-shopping,.fa-car-side,.fa-globe{
    background-color: palevioletred;
    color: rgb(226, 217, 222);
    margin-top: 18px;
    margin-left: 50px;
    padding: 22px;
    border-radius: 80px 80px 80px 80px;
    margin: 10px;
}
.fa-house-user:hover,.fa-pizza-slice:hover,.fa-bag-shopping:hover,.fa-car-side:hover,.fa-globe:hover{
    background-color: rgb(170, 31, 145);
    color: bisque;
    border: none;
}
.container1{
    margin-top: 38px;
    color: white;
}
.middle{
    color: white;
    margin-top: 145px;
    margin-left: 50px;
}
.middle>h1{
    font-size: 33px;
}
.middle>p{
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}
.middle>button{
    font-size: 20px;
    margin-top: 20px;
    width: 490px;
    height: 50px;
    background-color: aqua;
    border-radius: 10px 10px 10px 10px ;
    border: none;
}
.fa-eye{
    margin-right: 15px;
    font-size: 20px;
}
.last{
    margin-top: 35px;
    margin-left: 40px;
    object-fit: cover;
}

/* third page */
.third{
    margin-top: 150px;
}
.third>center>h1{
    font-size: 48px;
}
.third>center>h5{
    margin-top: 28px;
    font-size: 16px;
    color: teal;
    font-weight: bold;
    margin-bottom: 60px;
}

.food{
    display: flex;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 1190px;
    height: 320px;
    margin-left: 170px;
    border-top: brown;
}
.food1{
    margin-left: 40px;
    margin-top: 45px;
}
.food1>section>h2{
    font-size: 25px;
    line-height: 1.8;
}

.food1>section>h6{
    font-size: 15px;
    color: rgb(35, 114, 114);
}

.food1>section>p{
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(35, 114, 114);
}
.food1>section>h5{
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(35, 114, 114);
}
.food1>section>h4{
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(35, 114, 114);
}
.food1>section>h3{
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(35, 114, 114);
}
.star{
    margin-left: 100px;
    margin-top: 50px ;
}
.star>p>span{
      font-size: 25px;
      color: red;
}
.star>p{
    font-size: 25px;
    letter-spacing: 2px;
}
.star>button{
    margin-top: 128px;
    margin-left: 60px;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 5px 5px 5px 5px;
}
.star>button:hover{
    background-color: aqua;
    transition: 0.5s ease-in-out;
}
/* fourth */
.before{
    display: flex;
    margin-left: 140px;
    margin-top: 100px;
}

.logo{
 display: flex;
}
.logo>h1{
    margin-top: 35px;
    margin-left: 8px;
}
.div1>p{
    margin-top: 10px;
    margin-left: 15px;
    font-style: initial;
    text-align: justify;
    line-height: 1.5;
}
.div2{
    margin-top: 30px;
    margin-left: 75px;
}
.column{
    display: flex;
}
.column1{
    margin-top: 25px;
    margin-right: 75px;
    line-height: 1.8;
}
.column2{
    margin-top: 25px;
    line-height: 1.8;
}

.div3{
    margin-top: 28px;
    margin-left: 100px;
}
.div3>:nth-child(2){
    margin-top: 25px;
    font-size: 17px;
}
.code{
    margin-top: 25px;
    display: flex;
    gap: 65px;
    font-size: 17px;
}
/* final */
.final{
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 16px;
}